/* 
@media screen and (max-width: 768px) {
    .menu-toggle {
        display: block; 
    }

    .navbar ul {
        list-style: none;
        padding: 0;
    }

    .navbar li {
        margin: 10px 0;
    }
} */

/* @media screen and (max-width: 1200px) {
    #desktop-nav {
      display: none;
    }
  
    #hamburger-nav {
      display: flex;
    }
} */

@media (max-width: 1200px) {
  .hamburger{
    display:block
}

 .navbar {
    position:absolute;
    top:100%;
    padding: 1rem 3%;
    background: var(--bg-color);
    border-top:.1rem solid rgba(0,0,0,2);

 }
}
